{% extends "permissions.html" %}{% set set_permission = 'homepage' %}{% block base %}{% if load is not defined %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="follow, index">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>{{title}} - {{site.sitename}}</title>

    <meta name="description"
          content="Habbo Hotel es juego multijugador latino para jóvenes, donde podrás conocer a muchísima gente, crear tu propia habitación con un mobiliario ilimitado, con Créditos, HC y Furnis totálmente gratis! Pero la diversión no termina ahí, siempre hay eventos muy divertidos para que te entretengas y ganes Rares.">
    <meta name="keywords"
          content="Habbo, Habbo Hotel, Habbo Latino, Habbo-Hotel, Furnis gratis, Creditos gratis, gratis, chat, jugar, jugar, {{site.sitename}}, kekoland.es, habbo gratis, todo gratis, furnis gratis habbo, habbo holo, créditos gratis, hartico, habbo artico, habbo hartico, habbolandia, habbopvp, habbo pvp, habbolatino, habbo latino, habboparaiso, habbo paraiso, habbo kekos, habbokekos, habbomundo, habbocorp, habboci, habbostorm, habbo fantasy, habbo fenix, habbo mundo, habbo lan, habbo hartico, habbo apk, habbo alfa, hartico.nl, hartico.us, habboartico.com, hlat.me, hlat, iboom, lavvos">

    <meta property="og:title" content="Haz nuevos amigos, crea tus salas, habbo ya es pasado - {{site.sitename}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.domain}}">
    <meta property="og:image" content="/assets/images/summary-picture.png">
    <meta property="og:description" content="Bienvenido a {{site.sitename}}, haz nuevas amistades de todo el mundo, crea tus juegos, crea tu avatar, ¡TODO ES GRATIS!">
    <meta property="og:site_name" content="{{site.sitename}}">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bbeditor.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/selectric.css">
    <link rel="stylesheet" href="/assets/css/circle.css?v=5">
    <link rel="stylesheet" href="/assets/css/web.css?v=1111">
    <link rel="stylesheet" href="/assets/css/web.responsive.css">

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
	<script data-ad-client="ca-pub-9537437913640844" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
    <script>
    var Site = {
        name: "{{site.sitename}}",
        url: "{{site.domain}}",
        game_url: "{{site.cpath}}",
        figure_url: "{{site.fpath}}"
    }
    
    {% if player is empty %}
    var User = {
        id: 0,
        username: "",
        online: 0,
        is_logged: false,
        is_staff: false
    }
    {% else %}var User = {
        id: {{player.id}},
        username: "{{player.username}}",
        is_logged: true,
        ticket: "{{player.auth_ticket}}",
        is_staff: {% if player.rank >= 3 %}true{% else %}false{% endif %}

    };
    {% endif %}

    var Configuration = {
        {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
        revision: "{{revision}}2213",
        cache: "AEEA19MN001C",
    }
    </script>
</head>

<body class="flex-container flex-direction-column">
<noscript>
    <style>
        .loading-container {
            display: none;
        }
    </style>
</noscript>
<div class="loading-container">
    <div id="loading-background"></div>
    <div class="loading-content">
        <div class="c100 center">
            <span></span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="loading-bodytext"></div>
    </div>
</div>

<div class="page-loading"></div>
<div class="notifications-container"></div>

<div class="cookies-accept-container">
    <div class="close-container">&times;</div>
    {{site.sitename}} {{locale_base.cookies}}
    <!-- <a href="/help/14-cookie-beleid" target="_blank">{{locale_base.read_more}}</a> -->
</div>

<div id="about-dialog" class="login-popup zoom-anim-dialog mfp-hide">
        <h1 class="aside-title">Créditos</h1>
            <h4>Cosmic 2.2</h4>{{locale_base.credits}}
			<h4>Arcturus Morningstar 2.3.1</h4>{{locale_base.credits_emu}}
			<h4>Kekoland.es</h4>{{locale_base.credits_kekoland}} {{site.shortname}} {{locale_base.credits_kekoland_names}}
        </p>
        <h5>{{locale_base.and_all}} {{site.shortname}} ♥</h5>
    </div>

{% if player is empty %}
<div id="login-dialog" class="login-popup zoom-anim-dialog mfp-hide">
    <h3 class="aside-title">Iniciar sesión</h3>
    <div class="login-form">
        <label for="login-username-input-target" class="username-input">
            <input type="text" name="username" class="rounded-input blue-active" id="login-username-input-target"
                   placeholder="{{locale_base.login_name}}" required>
            <i class="flaticon-user-1"></i>
        </label>
        <label for="login-password-input-target" class="password-input">
            <input type="password" name="password" class="rounded-input blue-active"
                   id="login-password-input-target" placeholder="{{locale_base.login_password}}" autocomplete="off"
                   required>
            <i class="flaticon-padlock"></i>
        </label>
 <!--       <a href="password/claim" class="claim-password" data-close-popup="true"-->
<!--          style="margin-top:1px">{{locale_base.login_lost_password}}</a>-->
        <button type="submit" class="rounded-button blue plain" id="login-request">Conectar</button>
    </div>
</div>
{% endif %}
{% if player %}
<div id="report-item" class="payment-popup zoom-anim-dialog mfp-hide">
    <button title="{{locale_base.close}}" type="button" class="mfp-close" style="color:#000">&#215;</button>
    <h3 class="aside-title">{{locale_base.report_message}}</h3>
    <p>
        {{locale_base.report_certainty}}
    </p>
    <form action="/ajax/report/add" method="post" class="login-form" id="reportForm">

        <p>
            <button type="submit" class="rounded-button blue plain"
                    id="reportItem">{{locale_base.report_inappropriate}}
            </button>
            <input type="hidden" id="reportItemid" name="itemId" value="">
        </p>
    </form>
</div>
{% endif %}

<header class="header-container pixelated is-small">
    <div class="header-content">
        <div class="logo"><a href="/home"><img src="assets/images/logo.png" style="margin-top: 15px;margin-right: 300px;"></a></div>
        <div class="account-container">
            <div class="account-title">
                {{locale_base.header_slogan2}}
            </div>

            <div class="account-buttons">
                {% if player is empty %}
                <button class="rounded-button white login-dialog-button">{{locale_base.header_login}}</button>
                <span>of</span>
                <a href="/registration" class="rounded-button white plain">{{locale_base.header_register}}</a>
                {% else %}
                <a href="/hotel" class="rounded-button white plain hotel-button">{{locale_base.header_to}}
                    {{site.sitename}}</a>
                <button class="rounded-button white plain">{{online_count}} onlines</button>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<nav class="navigation-container">
    <ul class="navigation-menu flex-container">
        <li class="navigation-item {% if " home
        " in page %}selected {% endif %}" data-category="home"><a
            href="/home">{{locale_base.nav_home}}</a></li>
        <li class="navigation-item has-items {% if " community
        " in page %}selected {% endif %}"
        data-category="community">
        <a href="/articles">{{locale_base.nav_community}}</a>
        <ul class="navigation-submenu">
            <li class="navigation-subitem"><a href="/articles">{{locale_base.nav_news}}</a></li>
            <li class="navigation-subitem"><a href="/jobs">{{locale_base.nav_jobs}}</a></li>
            <li class="navigation-subitem"><a href="/community/photos">{{locale_base.nav_photos}}</a></li>
            <li class="navigation-subitem"><a href="/community/staff">{{locale_base.nav_staff}}</a>
            </li>
            {#<li class="navigation-subitem"><a href="/community/team">{{site.shortname}} {{locale_base.nav_team}}</a>
            </li>#}
        </ul>
        </li>

        {#
        {% if player %}
        <li class="navigation-item has-items {% if " shop
        " in page %}selected {% endif %}" data-category="shop">
        <a href="/shop">{{site.shortname}} {{locale_base.nav_shop}}</a>
        <ul class="navigation-submenu">
            <li class="navigation-subitem"><a href="/shop">{{locale_base.nav_buy_points}}</a></li>
            <li class="navigation-subitem"><a href="/shop/club">{{locale_base.nav_buy_club}}</a></li>
            <li class="navigation-subitem"><a href="/shop/history">{{locale_base.nav_purchasehistory}}</a></li>
            <li class="navigation-subitem"><a href="/shop/drawbadge">{{locale_base.nav_drawyourbadge}}</a></li>
            <li class="navigation-subitem"><a href="/settings/namechange">{{locale_base.nav_changename}}</a>
            </li>
        </ul>
        </li>
        {% endif %}
        #}

        <li class="navigation-item {% if " games
        " in page %}selected {% endif %}" data-category="games"><a
            href="/games/ranking">{{locale_base.nav_highscores}}</a></li>
        <li class="navigation-item {% if " forum
        " in page %}selected {% endif %}" data-category="forum"><a
            href="/guilds">{{locale_base.nav_forum}}</a></li>

        <li class="navigation-item {% if " help
        " in page %}selected {% endif %}" data-category="help">
        <a href="/help/requests/view">{{locale_base.nav_helptickets}}</a>
        </li>

        {% if 'housekeeping' in permissions %}
        <li class="navigation-item">
            <a href="/housekeeping" target="_blank">{{locale_base.nav_housekeeping}}</a>
        </li>
        {% endif %}

        {% if player %}
        <li class="navigation-item navigation-right-side-item has-items">
            <a href="#">
                <div class="account-avatar"><img src="{{site.fpath}}/avatarimage?figure={{player.look}}&gesture=sml"
                                                 alt="{{player.username}}" class="pixelated"></div>
                <span>{{player.username}}</span>
            </a>
            <ul class="navigation-submenu">
                <li class="navigation-subitem"><a href="/hotel">{{locale_base.user_to}}</a></li>
                <li class="navigation-subitem"><a
                        href="/profile/{{player.username}}">{{locale_base.user_profile}}</a></li>
                <li class="navigation-subitem"><a href="/settings">{{locale_base.user_settings}}</a></li>
                <li class="navigation-subitem"><a href="/logout" target="_self">{{locale_base.user_logout}}</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>

<section class="page-container" data-page="{% if page is empty %}lost{% else %}{{page}}{% endif %}">
    {% block body %} {% endblock %}
</section>

<footer class="footer-container">
    <div class="footer-copyright">&copy; 2020 {{site.shortname}} | <a href="/help/">{{locale_base.footer_helptool}}</a> |
        <a
                href="#" class="about-dialog-button">Créditos</a></div>
</footer>

{% if player %}
<div id="hotel-container">
    <div class="client-buttons">
        <button class="client-close rounded-button blue plain">
            <i class="client-icon client-close-icon"></i>
            <span class="client-close-expand"><span>Web</span></span>
        </button>
        <button class="client-fullscreen rounded-button blue plain">
            <i class="client-icon client-fullscreen-icon"></i>
            <i class="client-icon client-fullscreen-icon-back hidden"></i>
        </button>

        <button class="client-count rounded-button blue plain">
            {% if 'housekeeping' in permissions %}<a href="/housekeeping" target="_blank"
                                                     style="color:#fff;text-decoration: none;"><i
                class="fa fa-user"></i> <b
                id="count">{{online_count}}</b></a>{% else %}<i class="fa fa-user"></i> <b
                id="count">{{online_count}}</b>{% endif %}
        </button>

        <button class="client-radio rounded-button blue plain">
            <audio controls id="stream" style="display:none">
                <source type="audio/mpeg">
            </audio>

            <i class="fa fa-play"></i>
            <i class="fa fa-pause" style="display: none"></i>

            <i class="fa fa-volume-down"></i>
            <i class="fa fa-volume-up"></i>
        </button>
    </div>
</div>
{% endif %}

<script src="/assets/js/js.cookie.js"></script>
<script src="/assets/js/jquery.history.js"></script>
<script src="/assets/js/jquery.fullscreen.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/selectric.js?v=3412"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/web/loading.js"></script>
<script src="/assets/js/pagination.js"></script>
<script src="/assets/js/jquery.wysibb.js"></script>

</body>

</html>
{% else %}
{{ block('body') }}
{% endif %}
{% endblock %}
